.board-container {
  display: flex; 
  flex-direction: column; 
  -ms-flex-direction: column; 
  margin: 0.3em 0.5em; 
}

.board-container .board {
  display: flex; 
  width: 260px; 
  height: 260px; 
  flex-wrap: wrap; 
}